
/* =====Google Fonts link===== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}


/* ============= Header Section =========== */

        /* ======= Nav Bar section ======== */


        .nav-bar{
            background-color: rgba(255,255,255,0.5);
            position: fixed;
            top: 0;
            width: 100%;
        }
        .nav-info{
            display: flex;
        }
        .nav-list{
            display: flex;
            text-decoration: none;
            list-style: none;
            margin: auto;
        }
        .nav-list li{
            text-decoration: none;
            margin: 0px 10px;
            padding: 10px;

        }
        .nav-list a{
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: #2E4053;
        }
        .nav-list a:hover{
            color: red;
        }
        #half-logo{
            color: #F39C12;
        }
        .logo{
            font-size: 30px ;
            font-family: 'Lobster', cursive;
            font-family: 'Pacifico', cursive;
            text-decoration: none;
            margin: 10px 5px 10px 200px;
            color: #2E4053;
        }
        .say-btn{
            width: 100px;
            background-color: transparent;
            color:#7510F7 ;
            font-weight: bold;
            font-size: 18px;
            border:3px solid #651FFF;
            text-align: center;
            transition: all 0.4s;
            border-radius: 20px;
        }
        .say-btn:hover{
            color: white;
            background-color: #7510F7;

        }
        .home-section{
            background-repeat: no-repeat;
            background-size: cover;
        }

        .home-container{
            display: flex;
            padding-bottom: 70px;
        }
        .home-info{
            margin: 200px 50px 150px 200px ;
        }
        .home-info p{
            font-size: 25px;
            color: #515A5A;

        }
        #header-2nd-p{
            margin-bottom: 70px;
            line-height: 27px;
        }
        .header-btn{
            width: 250px;
            padding: 10px 20px;
            margin: 20px 5px 10px 0px;
            background-color: transparent;
            font-weight:bolder;
            text-decoration: none;
            cursor: pointer;
            font-size: 17px;
            color: black;
            border: 1px solid #F39C12;
            border-radius: 6px;
        }
        .header-btn2{
            width: 250px;
            padding: 10px 20px;
            margin: 20px 5px 10px 0px;
            background-color: transparent;
            font-weight:bolder;
            text-decoration: none;
            cursor: pointer;
            font-size: 17px;
            color: black;
            border-radius: 6px;
        }
        .header-btn2:hover{
            transition: all 0.4s;
            color: #651FFF;
        }
        .header-btn:hover{
            transition: all 0.4s;
            background-color: #F39C12;
            color: black;
            border: 1px solid #F39C12; 
        }
        #my-name{
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 10px;
            color: black;
            font-family: 'Playfair Display', serif;;
        }
        #my-name span{
            color:#F39C12;
        }
        .home-img{
            margin-top: 100px;
        }
        .home-img img{
            width: 500px;
        }

        /*======= About Section ========== */

        #about{
            background-color: #7510F7;
            overflow: hidden;
            margin: auto;
        }
        .about-info{
            display: flex;
            margin: 70px 100px 5px 100px;
            
        }
        #my-picture img{
            width: 300px;
            margin: 100px 30px 120px 70px;
            border-bottom-left-radius: 60px;
        }

        .about-me{
            margin: 100px 30px 50px 30px;
            padding: 20px;
        }
        .about-me-title{
            font-size: 40px;
            font-weight: bold;
            color: white;
        }
        .about-me-2nd-p{
            color: white;
            font-size: 20px;
            margin-bottom: 20px;
        }

        .about-me-title span{
            font-size: 20px;
        }
        .about-cv-btn{
            margin: 20px 10px 100px 10px;
        }
        .about-cv-btn{
            width: 250px;
            background-color: #E74C3C;
            color: white;
            margin: 100px 0px 50px 0px;
            font-size: 17px;
            font-weight: bold;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
        }
        .about-cv-btn:hover{
            background-color: transparent;
            border: 1px solid white;
            transition: all 0.4s;
        }

        /* ==============Skills Section ============ */

        #skills{
            background-image: url(/images/Frame\ 57.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
        }
        .skills-container{
            display: flex;
            margin: auto;
        }
        .skills-info{
            width: 40%;
            margin: 200px 10px 100px 200px;

        }
        .skills-list{
            display: flex;
            list-style: none;
        }
        .skills-list li{
            width: 100px;
            background-color: #CACFD2;
            text-align: center;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
        }
        .skills-img img{
            width: 400px;
            margin: 100px 40px 100px 10px;
        }
        .hire-container{
            width: 1100px;
            height: 500px;
            margin: 50px 150px 100px 150px;
            background-color: #651FFF;
            color: white;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
        }
        .hire-me{
        margin: 100px 50px 50px 150px;
        
        }
        .hire-me h1{
            font-size: 60px;
            font-family: 'Fira Sans', sans-serif;
            margin-bottom: 30px;
        }
        .hire-p1{
            font-family: 'Fira Sans', sans-serif;
            font-size: 30px;
            margin-bottom: 30px;
        }
        .hire-btn{
            font-size: 17px;
        }
        .hire-btn a{
            color: white;
            text-decoration: none;
            margin-right: 10px;
            width: 100px;
            background-color: #141c3a;
            padding: 10px 20px;
            font-weight: bold;
            border-radius: 10px;
        }
        .hire-btn a:hover{
            background-color: transparent;
            border: 1px solid black;
            transition: all 0.4s;
        }

        .hire-img{
            width: 500px;
            float: right;
        margin: 10px 20px 50px 20px;
        }
        

        /* ===========Portfolio Section ============== */
        #portfolio{
            overflow: hidden;

        }

        .portfolio-section{
            background-color: #F2F3F4;
        }
        .portfolio-header{
            text-align: center;
        }
        .portfolio-header-1{
            margin: 100px 10px 30px 10px;
            font-size: 35px;
            font-weight: bold;
        }
        .portfolio-header p{
            font-size: 20px;
            margin-bottom: 100px;

        }
        .portfolio-header a{
            text-decoration: none;
            font-weight: bold;
        }
        .portfolio-box{
            display: flex;
            margin: 0px 70px 100px 70px;
        }
        .portfolio-boxes{
            margin: auto;
        }
        .box{
            width: 300px;
            height: 400px;
            border-radius: 15px;
            background-color: white;
            box-sizing: border-box;
            box-shadow: 0 10px 20px -10px;
        }

        .box img{
            margin: 7px;
            width: 280px;
            border: 2px solid lightgrey;
            border-radius: 18px;
        }
        .box h3{
            margin: 10px;
            font-weight: bold;
        }
        .box p{
            margin: 10px;
        }
        .see-more{
            margin: 60px;
            text-align: center;
        }
        .see-more-btn{
            text-decoration: none;
            font-size: 18px;
            color: white;
            font-weight: bold;
            width: 200px;
            background-color: #E74C3C;
            border-radius: 10px;
            padding: 10px 20px;
            margin: 10px;

        }
        .see-more-btn:hover{
            transition: all 0.4s;
            color: black;
            background-color: transparent;
            border: 1px solid red;
        }

        .magic-container{
            width: 1100px;
            border: 2px solid black;
            height: 200px;
            border-radius: 20px;
            margin: 70px 10px 100px 130px;
            display: flex;
            background-color: #141c3a;
        }
        .magic-part-1{
            width: 35%;
            font-size: 2rem;
            font-weight: 800;
            margin: 75px 10px 75px 75px ;
            color: white;

        }
        .magic-part-2{
            width: 35%;
            margin: auto;
            color: white;
            font-size: 18px;
        }
        .magic-part-3, a{
            width: 35%;
            margin: auto;
        }
        .magic-part-3 a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 1.25rem;
            width: 100px;
            background-color: transparent;
            padding: 15px 30px;
            border: 4px solid #651FFF;
            border-radius: 30px;
            margin: 25px 20px 25px 70px;
        }

        .magic-part-3 a:hover{
            background-color: #651FFF;
        }

/* ============ Contact Section========= */
.contact-header{
    background-color: #E5E7E9;
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.contact-header-word p{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    margin: 70px 0px 70px 30px;
    font-weight: bold;

}
.contact-form{
    display: flex;
}
#contact-title{
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family: 'Playfair Display', serif;
    margin: 100px 300px 40px 50px;
}

#contact-para{
    font-size: 17px;
    color: black;
    margin: 0px 50px 0px 50px;
    font-weight: 600;
    width: 200px;
}
.contact-form-2{
    overflow: hidden;
}
.contact-form-list{
    margin: 100px 100px 100px 70px;
    overflow: hidden;
}

.contact-form-list p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
#form{
    width: 600px;
    padding: 10px;
    font-size: 17px;
    background-color: #EAEDED;
    border: none;

}
#text-area{
    width: 600px;
    height: 150px;
    background-color: #EAEDED;
    border: none;
    font-size: 17px;
}

#contact-form-btn{
    width: 100px;
    background-color:transparent;
    color: black;
    border: 2px solid black;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
}
#contact-form-btn:hover{
    background-color: black;
    color: white;
}
.contact-btn{
    margin: 20px 20px 20px 0px;
}

/* ======== Footer Section ========= */

.footer{
    height: 250px;
    background-color: #17202A;
    overflow: hidden;
}



.address-space,.address-space-social{
    width: 300px;
    font-family: 'Playfair Display', serif;
    color: white;
    margin: 20px 20px 60px 100px;

}
#address{
    font-size: 20px;
    margin: 10px 0px 0px 20px;
}
#white-line{
    width: 250px;
    height: 2px;
    background-color: white;
    margin: 20px 0px;
}
.address-container{
    display: flex;
}
#social-icon img{
    width: 40px;
}
#social-icon a{
    margin: 0px 5px;
}
.copyright-p{
    text-align: center;
}
#copyright{
    color: white;

}